/* resets */
:root {
  --text-xs: 0.6875rem;
  --text-sm: 0.8125rem;
  --text-base: 1rem;
  --text-md: 1.1875rem;
  --text-lg: 1.4375rem;
  --text-xl: 1.75rem;
  --text-2xl: 2.0625rem;
  --text-3xl: 2.5rem;
  --text-4xl: 3rem;
}

/* fonts */
@font-face {
  font-family: uber-medium;
  src: url(../assets/fonts/UberMove-Medium.woff2);
}
@font-face {
  font-family: uber-reg;
  src: url(../assets/fonts/UberMove-Regular.woff2);
}
@font-face {
  font-family: uber-light;
  src: url(../assets/fonts/UberMove-Light.woff2);
}
@font-face {
  font-family: uber-bold;
  src: url(../assets/fonts/UberMove-Bold.woff2);
}
/* Utility classes */

uber-bold {
  font-family: uber-bold;
}
uber-med {
  font-family: uber-med;
}
uber-light {
  font-family: uber-light;
}
uber-reg {
  font-family: uber-reg;
}

/* specific styles*/

html {
  background-color: black;
  /* color: white; */
}

#a1,
#a2 {
  background: #e8e8e8;
}

.form-container {
  display: flex;
  flex-direction: column;
  /* background-color: gblackreenyellow;
    padding: 10px; */
  gap: 10px;
  width: fit-content;
}

.form-container input {
  /* display: inline-block; */
  height: 2rem;
  border: none;
  border-radius: 4px;
  width: 275px;
}
#hero {
  padding: 0 60px;
  color: white;
  display: flex;
  justify-content: space-around;
}

.hero-text {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.hero-text > h3 {
  /* padding: 0px 10px; */
  font-size: 2.7rem;
}
.hero-text > h5 {
  font-family: Arial, Helvetica, sans-serif;
  /* padding: 0px 10px; */
  /* font-size: 1rem; */
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #f2eded;
  background-color: blue;
  color: white;
  opacity: 0.2;
  border-radius: 8px;
  border-radius: 18px;
}

/* Add a color to the active/current link */
/* .topnav a.active {
  background-color: #04AA6D;
  color: white;
} */

