/* resets */
:root {
  --text-xs: 0.6875rem;
  --text-sm: 0.8125rem;
  --text-base: 1rem;
  --text-md: 1.1875rem;
  --text-lg: 1.4375rem;
  --text-xl: 1.75rem;
  --text-2xl: 2.0625rem;
  --text-3xl: 2.5rem;
  --text-4xl: 3rem;
}
* {
  margin: 0;
}

::marker {
  content: "";
}

input:focus,
input:hover {
  outline: none;
}
/* fonts */
@font-face {
  font-family: uber-medium;
  src: url(../assets/fonts/UberMove-Medium.woff2);
}
@font-face {
  font-family: uber-reg;
  src: url(../assets/fonts/UberMove-Regular.woff2);
}
@font-face {
  font-family: uber-light;
  src: url(../assets/fonts/UberMove-Light.woff2);
}
@font-face {
  font-family: uber-bold;
  src: url(../assets/fonts/UberMove-Bold.woff2);
}
/* Utility classes */

uber-bold {
  font-family: uber-bold;
}
uber-med {
  font-family: uber-med;
}
uber-light {
  font-family: uber-light;
}
uber-reg {
  font-family: uber-reg;
}

/* specific styles*/

html {
  background-color: black;
  /* color: white; */
}

.src {
  display: flex;
  background: #e8e8e8;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
  width: 400px;
  height: 40px;
  background-color: #e8e8e8;
}

.src > svg {
  padding: 10px;
  border-radius: 6px;
  color: black;
}
.src > * {
  background: #e8e8e8;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  position: relative;
}
.form-container::before {
  position: absolute;
  top: 30px;
  left: 24px;
  content: "";
  width: 1px;
  height: 46px;
  color: white;
  background-color: white;
}
.form-container input {
  height: 40px;
  border: none;
  font-size: 1.1rem;
  /* border-radius: 4px; */
  width: 400px;
}

.form-container > button {
  align-self: start;
  width: 120px;
  height: 50px;
  margin-top: 5px;
  padding: 14px 25px;
  border-radius: 10px;
  font-family: uber-bold;
  font-size: 0.85rem;
}

#hero {
  padding: 64px;
  color: white;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.hero-text {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.hero-text > h3 {
  font-size: 3.2rem;
}
.hero-text > h5 {
  font-family: uber-medium;
  font-weight: lighter;
  font-size: 1rem;
}

.carman-img{
  padding-left: 400px;
  padding-top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/* .carman-text{
  font-family: uber-bold; 
  color: black;
  display: flex; 
  justify-content: space-around;
  font-size: 51.2px ;
  padding-left: 900px;
  padding-right: 200px;
  margin-bottom:1000px ;
  margin-left: 700px;
  margin-right: 400px;
  padding-bottom: 300px;
}  */

.carman-text{
  float:right;
  font-family: uber-bold;
  color: black;
  font-size: 50.2px ;
  
}

.carman-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-left: 150px;
  padding-right: 300px;
  gap: 30px;
}

.carman-container > h5{
  font-family: uber-reg;
  font-weight: lighter;
  font-size: 1rem;
  letter-spacing: 1px;

}

.carman-buttons{
  
    align-self: flex-start;
    
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.carman-buttons > button:first-child{
  background-color: black;
  /* border-color: rgb(25, 83, 190); */
  color:white;
  border-width: 1px;
  border-style:solid;
  height:45px;
  width: 120px;
  border-radius: 9px;
  cursor:pointer;
  font-family: uber-medium;
    font-size: 16px;
}

.carman-buttons > button:last-child{
  color: black;
  background-color: white;
  border-color:black;
  border: none;
  border-bottom: 2px;
  font-family: uber-reg;
  font-size: 16px;
}

/* Add a black background color to the top navigation */
.topnav {
  /* background-color: black; */
  overflow: hidden;
  display: flex;
}

nav {
  margin: 10px 80px 2px 80px;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  margin-right: 1px;
  text-decoration: none;
  /* font-size: 17px; */
}

.nav-left > ul > li:first-child > a {
  font-family: uber-light;
  font-size: 1.4rem;
  font-weight: bold;
  /* font-weight: lighter; */
  padding: 8px 16px;
  margin-top: 5px;
}

.nav-left > ul > li:not(:first-child) {
  font-family: uber-medium;
  margin: 14px 2px;
  padding: 5px 10px;
}

.nav-left > ul > li:not(:first-child) > a {
  font-size: 0.9rem;
}
.nav-left > ul > li:not(:first-child):hover {
  background-color: #595959;
  border-radius: 14px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-right > ul {
  display: flex;
  gap: 2px;
}

.nav-right > ul > li > a {
  text-decoration: none;
  color: white;
  font-family: uber-medium;
  font-size: 0.125rem;
}
.nav-right > ul > li:not(:last-child):hover {
  background-color: #595959;
  border-radius: 14px;
}
.nav-right > ul > li > a {
  font-size: 0.9rem;
}
.nav-right > ul > li {
  font-family: uber-medium;
  margin: 14px 2px;
  padding: 5px 10px;
}

.nav-right > ul > li:last-child {
  background-color: white;
  border-radius: 14px;
}
.nav-right > ul > li:last-child > a {
  color: black;
}

#language > i {
  transform: rotate(45deg);
}
