/* resets */
:root {
  --text-xs: 0.6875rem;
  --text-sm: 0.8125rem;
  --text-base: 1rem;
  --text-md: 1.1875rem;
  --text-lg: 1.4375rem;
  --text-xl: 1.75rem;
  --text-2xl: 2.0625rem;
  --text-3xl: 2.5rem;
  --text-4xl: 3rem;
}
* {
  margin: 0;
}

::marker {
  content: "";
}
ul {
  padding: 0;
}
input:focus,
input:hover {
  outline: none;
}
a {
  text-decoration: none;
  color: white;
}
/* fonts */
@font-face {
  font-family: uber-medium;
  src: url(../assets/fonts/UberMove-Medium.woff2);
}
@font-face {
  font-family: uber-reg;
  src: url(../assets/fonts/UberMove-Regular.woff2);
}
@font-face {
  font-family: uber-light;
  src: url(../assets/fonts/UberMove-Light.woff2);
}
@font-face {
  font-family: uber-bold;
  src: url(../assets/fonts/UberMove-Bold.woff2);
}
/* Utility classes */

uber-bold {
  font-family: uber-bold;
}
uber-med {
  font-family: uber-med;
}
uber-light {
  font-family: uber-light;
}
uber-reg {
  font-family: uber-reg;
}

/* specific styles*/

html {
  background-color: black;
  /* color: white; */
}

/*navbar*/

.topnav {
  overflow: hidden;
  display: flex;
  a {
    float: left;
    text-align: center;
    margin-right: 1px;
  }
}
.nav-left > ul > li {
  &:first-child > a {
    font-family: uber-light;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 8px 16px;
    margin-top: 5px;
  }

  &:not(:first-child) {
    font-family: uber-medium;
    margin: 14px 2px;
    padding: 5px 10px;
  }

  &:not(:first-child) > a {
    font-size: 0.9rem;
  }
  &:not(:first-child):hover {
    background-color: #595959;
    border-radius: 14px;
  }
}

nav {
  margin: 10px 70px 2px 70px;
  display: flex;
  justify-content: space-between;
}

.nav-right > ul {
  display: flex;
  gap: 2px;

  & > li {
    font-family: uber-medium;
    margin: 14px 2px;
    padding: 5px 10px;
    & > a {
      font-family: uber-medium;
      font-size: 0.9rem;
    }
    &:not(:last-child):hover {
      background-color: #595959;
      border-radius: 14px;
    }

    &:last-child {
      background-color: white;
      border-radius: 14px;
      & > a {
        color: black;
      }
    }
  }
}

/*hero*/

#hero {
  padding: 64px;
  color: white;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.src {
  display: flex;
  background: #e8e8e8;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
  width: 400px;
  height: 40px;
  background-color: #e8e8e8;

  & > svg {
    padding: 10px;
    border-radius: 6px;
    color: black;
  }

  & > * {
    background: #e8e8e8;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  position: relative;

  &::before {
    position: absolute;
    top: 30px;
    left: 24px;
    content: "";
    width: 1px;
    height: 46px;
    color: white;
    background-color: white;
  }
  input {
    height: 40px;
    border: none;
    font-size: 1.1rem;
    width: 400px;
  }
  & > button {
    align-self: start;
    width: 120px;
    height: 50px;
    margin-top: 5px;
    padding: 14px 25px;
    border-radius: 10px;
    font-family: uber-bold;
    font-size: 0.85rem;
  }
}

.hero-text {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  h3 {
    font-size: 3.2rem;
  }

  h5 {
    font-family: uber-medium;
    font-weight: lighter;
    font-size: 1rem;
  }
}

main {
  background-color: white;
}
/*carman*/

.carman-img {
  margin: 0 90px;
  padding: 64px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.carman-text {
  font-family: uber-bold;
  color: black;
  font-size: 50.2px;
}

.carman-container {
  padding: 100px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;

  & > h5 {
    font-family: uber-reg;
    font-weight: lighter;
    font-size: 1rem;
    letter-spacing: 1px;
  }
}

.carman-buttons {
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.black-button {
  background-color: black;
  color: white;
  border-width: 1px;
  border-style: solid;
  height: 45px;
  width: 120px;
  border-radius: 9px;
  cursor: pointer;
  font-family: uber-medium;
  font-size: 16px;
}

.underline-button {
  color: black;
  background-color: white;
  border-color: black;
  border: none;
  border-bottom: 2px;
  font-family: uber-reg;
  font-size: 16px;
  background-image: linear-gradient(transparent calc(100% - 1px), #000000 1px),
    linear-gradient(transparent calc(100% - 1px), #cbcbcb 1px);
  background-size: 0% 6px, 100% 6px;
  background-position: 0 bottom, 0 bottom;
  transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  background-repeat: no-repeat;

  &:hover {
    background-size: 100% 6px, 100% 6px;
  }
}

#language > i {
  transform: rotate(45deg);
}

.air-text {
  /* padding: 0 200px 0 0; */
  padding: 0;
  text-align: left;
  align-items: flex-start;
}
.air-img {
  justify-content: space-between;
  gap: 207px;
}

.city-container {
  padding: 80px;
  & > .carman-text {
    font-size: 36px;
  }
}
footer {
  background-color: black;
  margin: 0px 80px;
  padding: 64px;
  & > a:first-of-type {
    display: block;
    font-family: uber-light;
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: none;
    color: azure;
  }
}
.help-center {
  padding-top: 30px;
  font-family: uber-light;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: azure;
}

.lists {
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;

  & > ul > li {
    padding: 10px 0;
    &:first-child a {
      font-family: uber-light;
      font-size: 1.1rem;
      font-weight: bolder;
    }
    &:not(:first-child) a {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.9rem;
      font-weight: lighter;
    }
  }
}

.socials-wrapper {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}
.socials {
  display: flex;
  gap: 60px;

  i {
    margin-left: 3px;
    color: white;
    padding: 10px;
    &:hover {
      background-color: #595959;
      border-radius: 4px;
    }
  }
}
.meta {
  display: flex;
  font-family: uber-light;
  font-size: 1rem;
  font-weight: bold;
  gap: 4px;
  a {
    text-align: center;
    padding: 7px 10px 3px 10px;
    i {
      vertical-align: center;
      color: white;
    }
    &:hover {
      background-color: #595959;
      border-radius: 4px;
    }
  }
}
.app-stores {
  margin-bottom: 50px;
  display: flex;
  justify-content: start;
  gap: 10px;
}

.copyright {
  color: #8b8b8b;
  font-size: 0.4rem;
}

.docs {
  a {
    padding: 8px;
    color: #8b8b8b;
    font-size: 0.4rem;
    &:hover {
      color: #5c5b5b;
    }
  }
}

.legal {
  display: flex;
  justify-content: space-between;
}
