/* resets */
:root {
  --text-xs: 0.6875rem;
  --text-sm: 0.8125rem;
  --text-base: 1rem;
  --text-md: 1.1875rem;
  --text-lg: 1.4375rem;
  --text-xl: 1.75rem;
  --text-2xl: 2.0625rem;
  --text-3xl: 2.5rem;
  --text-4xl: 3rem;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

::marker {
  content: "";
}
ul {
  padding: 0;
}
input:focus,
input:hover {
  outline: none;
}
a {
  text-decoration: none;
  color: white;
}
/* fonts */
@font-face {
  font-family: uber-medium;
  src: url(../assets/fonts/UberMove-Medium.woff2);
}
@font-face {
  font-family: uber-reg;
  src: url(../assets/fonts/UberMove-Regular.woff2);
}
@font-face {
  font-family: uber-light;
  src: url(../assets/fonts/UberMove-Light.woff2);
}
@font-face {
  font-family: uber-bold;
  src: url(../assets/fonts/UberMove-Bold.woff2);
}
/* Utility classes */

uber-bold {
  font-family: uber-bold;
}
uber-med {
  font-family: uber-med;
}
uber-light {
  font-family: uber-light;
}
uber-reg {
  font-family: uber-reg;
}





.topbar {
  width: 100%;
  height: 64px;
  background-color: #FFFFFF;
  position: relative;
  border-bottom: 3px solid #C5C8CB;
  > a {
    position: absolute;
    font-family: uber-light;
    left: 64px;
    top: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 20px px;
    margin-top: 5px;
    color: black;
  }
}


.autocomplete-container {
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  position: relative;
  width: 300px;
  background-color: #e8e8e8;
  justify-content: start;
}

.input-container input {
  flex: 1;
  outline: none;
  /* width: 200px; */
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  /* padding: 10px;
  padding-right: 31px; */
  font-size: 16px;
  /* margin-right: 175px;
        margin-left: 150px;
        margin-top: 200px; */
  background-color: #e8e8e8;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  border-top: none;
  background-color: #fff;
  color: #000000;
  z-index: 99;
  top: calc(100% + 2px);
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: rgba(0, 0, 0, 0.1);
}

.autocomplete-items .autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: rgba(0, 0, 0, 0.1);
}

.clear-button {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 0;

  height: 100%;
  display: none;
  align-items: center;
}

.clear-button.visible {
  display: none;
  /* display: flex; */
}

.clear-button:hover {
  color: rgba(0, 0, 0, 0.6);
}


#my-map {
  width: 400px;
  height: 400px;
  margin: 0;
  margin-top: 50px;

}
